<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editar Livro</title>
</head>
<body>
<h1>Editar Livro</h1>

<form th:action="@{/editbook}" th:object="${book}" method="post">
    <input type="hidden" th:field="*{id}" />

    <fieldset>
        <label for="title">Título</label>
        <input th:field="*{title}" type="text" id="title">
    </fieldset>

    <fieldset>
        <label for="author">Autor</label>
        <input th:field="*{author}" type="text" id="author">
    </fieldset>

    <fieldset>
        <label for="publishdate">Data de Publicação</label>
        <input th:field="*{publishDate}" type="date" id="publishdate">
    </fieldset>

    <button type="submit">Salvar Alterações</button>
</form>

</body>
</html>